body, html {
	height: 100%;
	width: 100%;
	padding: 0!important;
	min-width: 1000px;
}
#nav-wrapper{
	width: 100%;
	background-color: #f1f3f0;
	z-index: 19;
	position: fixed;
	height: 120px;
	/*border: 1px solid red;*/
}
.nav-link-0{
	text-decoration: none !important;
}

.nav-bar-1{
	position: fixed;
	margin: 0px 0 0 21%;
	min-width: 900px;
	z-index: 21;
	/*border: 1px solid red;*/
}
.nav-col-1{
	text-align: left;
	margin-top: 45px;
	padding: 0 3%;
	width: 20%;
	/*text style*/
	text-transform: uppercase;
	letter-spacing: 6px;
	color: white;
	font-size: 16px;

	font-family: din-condensed, sans-serif;
	font-weight: 200;
	font-style: normal;
	z-index: 10;
	/*background-color: #f1f3f0;*/
	/*border: 1px solid red;*/
}

.nav-link-1{
	color: #243b44;
    text-decoration: none !important;
}
.nav-link-1:hover{
	font-weight: 400;
	font-style: normal;
	color: #243b44;
}

.nav-bar-2{
	z-index: 20;
	position: fixed;
	margin: 25px 0 0 21%;
	min-width: 900px;
	/*background-color: #f1f3f0;*/
	/*border: 1px solid red;*/
}
.nav-col-2{
	text-align: center;
	margin-top: 45px;
	/*padding: 0 3%;*/
	width: 20%;
	height: 100%; 
	color: #f1f3f0;
	/*display: none;*/
	opacity: 0;
  /* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 19;
	/*border: 1px solid red;	*/
}
.nav-col-2>img{
	width: 60%;
}
.cur_page{
	opacity: 1;
}

#logo-container-1{
	margin: 40px 5% 0 10%;
	position: fixed;
	padding-right: 5px;
	background-color: #f1f3f0;
	z-index: 20;
}
#logo-container-1>a>
img{
	width: 10%;
}

/*pop up*/
#pop-up-fst{
	width: 100%;
	height: 100%;
	background-color: rgba(237,238,235,0.5);
	z-index: 30;
	position: absolute;
}
.pop-up-wrapper{
	margin: 200px auto 0 auto;
	width: 40%;
	background-color: white;
	/*height: 400px;*/
	padding-bottom: 50px; 
	/*background-color: rgba(255,255,255,0.5);*/
}
.pop-up-text-wrapper{
}
.pop-up-text-wrapper>div{
	/*border: 1px solid red;*/
}
.pop-up-x{
	font-size: 40px;
	width: 10%;
	margin-left: 90%;
	cursor: pointer;
}
.pop-up-x>img{
	width: 40%;
}
.pop-up-title{
	font-family: ArcherOffice;
	color: #d84b38;
	font-size: 50px;
	text-align: center;
	padding-bottom: 50px;
}
.pop-up-text{
	width: 70%;
	margin: auto;
	margin-bottom: 30px;
}
.pop-up-text>p{
	font-family: din-2014, sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 20px;
	margin-top: -15px;
}
.pop-up-agree{
	width: 30%;
	margin: auto;
	background-color: #2d6466;
	font-family: din-2014, sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 20px;
	color: white;
	padding: 10px;
	text-align: center;
	cursor: pointer;
}
.pop-up-display{
	display: block;
}
.pop-up-hide{
	display: none;
}


footer{
	padding: 50px 0;
	font-family: din-2014, sans-serif;
	font-weight: 300;
	font-style: normal;
}

.footer-red{
	background-color: #d84b38;
}
.footer-bold{
	font-weight: 600;
}
