/*background image*/
.image-full{
  /* The image used */

  /* Full height */
  height: 100%; 
  min-width: 500px !important;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

#main-nav-wrapper{
	width: 100%;
	/*background-color: #f1f3f0;*/
	z-index: 19;
	position: fixed;
	height: 120px;
	/*border: 1px solid red;*/
}
.nav-bar{
	position: fixed;
	/*border: 1px solid red;*/
	margin: 0px 10% 0 21%;
	min-width: 900px;
	z-index: 21;
}
.nav-col{
	text-align: left;
	margin-top: 45px;
	padding: 0 3%;
	width: 20%;
	/*text style*/
	text-transform: uppercase;
	letter-spacing: 6px;
	color: white;
	font-size: 16px;

	font-family: din-condensed, sans-serif;
	font-weight: 200;
	font-style: normal;
	/*border: 1px solid red;*/
	z-index: 10;
	/*chosen diff showing diff style*/

}
.nav-link-0{
	color: white !important;
    text-decoration: none !important;
}
.nav-link-0:hover{
	font-weight: 400;
	font-style: normal;
}

#logo-container{
	margin: 40px 5% 0 10%;
	position: fixed;
	padding-right: 5px;
}
#logo-container>img{
	width: 10%;
}





.main-logo{
	position: absolute;
	margin: 230px 0 0 20%;
}
.main-logo>img{
	width: 65%;
}

.event{
	position: absolute;
	margin: 150px 0 0 75%;
}
.event>img{
	width: 75%;
}
