<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    {% load staticfiles %}
<!--     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'CloudFantasy/css/bootstrap.css' %}" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'CloudFantasy/js/base.js' %}"></script>
    <!-- adding DIY font links -->
    <link rel="stylesheet" href="https://use.typekit.net/xav8tsk.css">
    <title>{% block title %} {% endblock %}</title>
    <!-- <link rel="shortcut icon" href="{% static 'CloudFantasy/images/favico.ico' %}"> -->
	{% block stylesheet%}
    {% endblock %}
    <style>
        @font-face {
          font-family: ArcherOffice;
          src: url('{% static "CloudFantasy/fonts/ArcherOffice-Bold.ttf" %}');
        }
    </style>

</head>

<body>
<div id="pop-up-fst" class="{{visited}}">
    <div class="pop-up-wrapper">
        <div class="pop-up-text-wrapper">
            <div class="pop-up-x" onclick="close_pop()">x</div>
            <div class="pop-up-title">Welcome !</div>
            <div class="pop-up-text">
                <p>This is a student project created for academic purposes.</p>
                <p>This rebrand concept is a fictional piece of work made as part of a branding class's assignment</p>
            </div>
            <div class="pop-up-agree" onclick="close_pop()">I Understand</div>
        </div>
    </div>
</div>
<!-- <div style="top:0;margin: 0x,auto,0,auto;"> -->
{% block content %} 

{% endblock %}
<!-- </div> -->

</body>