<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    {% load staticfiles %}
<!--     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'CloudFantasy/css/bootstrap.css' %}" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- adding DIY font links -->
    <link rel="stylesheet" href="https://use.typekit.net/xav8tsk.css">
    <link type="text/css" rel="stylesheet" href="{% static 'CloudFantasy/css/common.css' %}">
    <title>{% block title %} {% endblock %}</title>
    <!-- <link rel="shortcut icon" href="{% static 'CloudFantasy/images/favico.ico' %}"> -->
	{% block stylesheet%}
    {% endblock %}
    <style>
        @font-face {
          font-family: ArcherOffice;
          src: url('{% static "CloudFantasy/fonts/ArcherOffice-Bold.ttf" %}');
        }
    </style>
</head>

<body style="background-color: #f1f3f0;">
<div id="nav-wrapper">
    <div id="logo-container-1">
        <a class="nav-link-0" href="/">
            <img id="logo-white" src="{% static 'CloudFantasy/images/logo.png' %}">
            <img id="logo-black" src="{% static 'CloudFantasy/images/logo2.png' %}">
        </a>
    </div>
    <div class="nav-bar-1 row">
        <div class="col-xs-6 nav-col-1"><a class="nav-link-1 {{dk}}" href="/director" >director</a></div>
        <div class="col-xs-6 nav-col-1"><a class="nav-link-1 {{dk}}" href="/films" >films</a></div>
        <div class="col-xs-6 nav-col-1"><a class="nav-link-1 {{dk}}" href="/schedule" >schedule</a></div>
        <div class="col-xs-6 nav-col-1"><a class="nav-link-1 {{dk}}" href="/tickets" >tickets</a></div>
        <div class="col-xs-6 nav-col-1"><a class="nav-link-1 {{dk}}" href="/behindTheScene">Behind&nbsp;the&nbsp;scenes</a></div>
    </div>
    <div class="nav-bar-2 row">
        <div class="col-xs-6 nav-col-2 {{cur1}}" style="background-image: url('{% static "CloudFantasy/images/element.png" %}');">.</div>
        <div class="col-xs-6 nav-col-2 {{cur2}}" style="background-image: url('{% static "CloudFantasy/images/element.png" %}');">.</div>
        <div class="col-xs-6 nav-col-2 {{cur3}}" style="background-image: url('{% static "CloudFantasy/images/element.png" %}');">.</div>
        <div class="col-xs-6 nav-col-2 {{cur4}}" style="background-image: url('{% static "CloudFantasy/images/element.png" %}');">.</div>
        <div class="col-xs-6 nav-col-2 {{cur5}}" style="background-image: url('{% static "CloudFantasy/images/element.png" %}');">.</div>
    </div>
</div>

{% block content %} 

{% endblock %}

</body>