{% extends "CloudFantasy/baseWithNav.html" %}


{% block title %}
Films | CloudFantasy
{% endblock %}

{% block stylesheet%}
{% load staticfiles %}
	<link type="text/css" rel="stylesheet" href="{% static 'CloudFantasy/css/films.css' %}">
	<script src="{% static 'CloudFantasy/js/scroll-film.js' %}"></script>
{% endblock%}

{% block content%}
<div id="film1" class="image-full" style="background-image: url('{% static "CloudFantasy/images/film/film1/film1.png" %}');">
	<div class="film-slider">
		<p class="film-slider-p">>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="film-pg-redirect" href="/film2">The Science of Sleep</a></p>
		<p class="film-slider-p cast-hidden"><&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="film-pg-redirect">Be Kind Rewind</a></p>
	</div>
</div>

<div id="float-nav">
	<div class="fl-row row cur_sec" id="fl-1">
		<div class="fl-sec" id="fl-sec-1">
			<a href="#story"> The&nbsp;Story</a>
		</div>
	</div>
	<div class="fl-row row" id="fl-2">
		<div class="fl-sec" id="fl-sec-2">
			<a href="#cast"> Main&nbsp;Cast</a>
		</div>
	</div>
	<div class="fl-row row" id="fl-3">
		<div class="fl-sec" id="fl-sec-3">
			<a href="#review"> Reviews</a>
		</div>
	</div>
</div>


<div class="film-story row" >
	<div class="col-md-4 story-left-col">
		<p class="story-left-top">
			“Blessed are the forgetful,  for they get the better even  of their blunders.”
		</p>
		<div class="story-img-wrapper">
			<img src="{% static 'CloudFantasy/images/film/film1/film1-story-left-top.png' %}">
		</div>
	</div>
	<div class="col-md-4 story-mid-col">
		<p class="story-title">
			The Story
		</p>
		<p class="story-p">
			Joel Barish (Jim Carrey) is an emotionally withdrawn man and Clementine Kruczynski (Kate Winslet) is his girlfriend who has a dysfunctional free spirit. They’re inexplicably attracted to each other despite their very different personalities.
		</p>
		<p class="story-p">
			They do not realize it at the time, but they are former lovers now separated after two years together. After a nasty fight with each other, Clementine has had her memories of their relationship erased from her mind. Upon learning this, Joel is devastated and goes to the doctor to get the same procedure done. However, while unconscious, Joel has second thoughts and decides he wants to keep his memories of Clementine.
		</p>
		<p class="story-p">
			In separate and related story arcs, the use of Lacuna Corporation are revealed to be more than peripheral characters in scenes which further show the harm caused by the memory-altering procedure. Mary has had an affair with the married Dr. Howard, heads of the company. She then agreed to have the affair erased from her memory when his wife discovered the relationship.
		</p>
	</div>
	<div class="col-md-4 story-right-col">
		<div class="story-sm-float" id="story">
			A rich, flamboyant, yet fragile piece with deep and personal touch
		</div>
		<p class="story-p">
			Lonely, socially inept Patrick soon becomes fixated on Clementine and applies Joel’s personal mementos that he gave to Lacuna as part of the procedure in order to seduce her. These romantic entanglements turn out to have a critical effect on the main story line of the relationship of the protagonists.
		</p>
		<p class="story-p">
			Once Mary learns of the affair she has had with Mierzwiak, she steals the company’s records and sends them to all of its clients. Thus Joel and Clementine both get to listen to their initial tape recordings at Lacuna, and afterwards realize that even if things in life isn’t perfect, their relationship can still be worthwhile.
		</p>
	</div>
</div>

<div class="cast-row row">
	<div class="col-md-4 story-left-col">
		<div class="cast-note-wrapper">
			<img src="{% static 'CloudFantasy/images/film/film1/film1-note.png' %}">
		</div>
	</div>
	<div class="col-md-4 cast-md-col">
		<p class="cast-title" id="cast">
			Main Cast
		</p>
		<div class="cast-pic-row row">
			<div class="col-md-6">
				<div class="cast-img-wrapper">
					<img src="{% static 'CloudFantasy/images/film/film1/film1-cast-1.png' %}">
				</div>
				<p class="cast-name">Jim Carrey</p>
				<p class="cast-role">Joel</p>

				<div class="cast-img-wrapper cast-hidden">
					<img src="{% static 'CloudFantasy/images/film/film1/film1-cast-1.png' %}">
				</div>
				<p class="cast-name cast-hidden">Romain Duris</p>
				<p class="cast-role cast-hidden">Colin</p>
			</div>
			<div class="col-md-6">
				<div class="cast-img-wrapper">
					<img src="{% static 'CloudFantasy/images/film/film1/film1-cast-2.png' %}">
				</div>
				<p class="cast-name">Kate Winslet</p>
				<p class="cast-role">Clementine</p>
				<div class="cast-blank"></div>
				<div class="cast-img-wrapper">
					<img src="{% static 'CloudFantasy/images/film/film1/film1-cast-3.png' %}">
				</div>
				<p class="cast-name">Mark Ruffalo</p>
				<p class="cast-role">Stan</p>
			</div>
		</div>
	</div>
	<div class="col-md-4 cast-right-col">
		<div class="cast-pic-row row">
			<div class="col-md-6">
				<div class="cast-img-wrapper">
					<img src="{% static 'CloudFantasy/images/film/film1/film1-cast-4.png' %}">
				</div>
				<p class="cast-name">Kirsten Dunst</p>
				<p class="cast-role">Marry</p>

				<div class="cast-img-wrapper">
					<img src="{% static 'CloudFantasy/images/film/film1/film1-cast-5.png' %}">
				</div>
				<p class="cast-name">Jane Adams</p>
				<p class="cast-role">Carrie</p>
			</div>
			<div class="col-md-6">
				<div class="cast-img-wrapper cast-hidden">
					<img src="{% static 'CloudFantasy/images/film/film1/film1-cast-2.png' %}">
				</div>
				<p class="cast-name cast-hidden">Audrey Tautou</p>
				<p class="cast-role cast-hidden">Chloé</p>

				<div class="cast-img-wrapper">
					<img src="{% static 'CloudFantasy/images/film/film1/film1-cast-6.png' %}">
				</div>
				<p class="cast-name">Tom Wilkinson</p>
				<p class="cast-role">Dr. Mierzwiak</p>
			</div>
		</div>
	</div>
</div>

<div class="ppt-row">
	<div class="ppt-title">
		<p class="ppt-title-lg" id="review">
			“Eternal Sunshine of the Spotless Mind goes by like a fevered dream of love, but one you remember vividly, with profound pleasure. ”
		</p>
		<p class="ppt-title-name">
			<span class="span-bold">—Joe Morgenstern |</span> Wall Street Journal</p>
	</div>
	<div class="ppt-sec-row row">
		<div class="col-md-4 cast-hidden">.</div>
		<div class="col-md-4 ppt-mid-col">
			<p class="ppt-sec-name">
				Christy Lemire | Associated Press
			</p>
			<p class="ppt-sec-desc">
				At its core, Eternal Sunshine of the Spotless Mind could have been just a love story. Refracted via Kaufman’s wonderfully weird prism, it’s something truly memorable.
			</p>

			<p class="ppt-sec-name">
				Christopher Orr | The Atlantic
			</p>
			<p class="ppt-sec-desc">
				The result is a cinematic vagueness that makes the film less aesthetic yet more persuasive. This is how dreams really look: like reality, only less so.
			</p>

			<p class="ppt-sec-name">
				Matthew Lucas | The Dispatch
			</p>
			<p class="ppt-sec-desc">
				From the opening frame to the closing credits, Eternal Sunshine of the Spotless Mind is unmistakably the work of a true creative genius.
			</p>
		</div>
		<div class="col-md-4 ppt-right-col">
			<p class="ppt-sec-name">
				Kristy Strouse | In Their Own League
			</p>
			<p class="ppt-sec-desc">
				Eternal Sunshine of the Spotless Mind is a whirlwind of emotions, and it is the kind of romance that is just grounded enough, in reality, to inspire and incite, but whimsical enough to deserve its own special place in the genre’s history.
			</p>

			<p class="ppt-sec-name">
				K. Austin Collins | Vanity Fair
			</p>
			<p class="ppt-sec-desc">
				It’s a surprising, clever sci-fi twist, even as the relationship drama it dredges up doesn’t feel at all like science fiction.
			</p>

			<p class="ppt-sec-name">
				Sean Axmaker | Seanax.com
			</p>
			<p class="ppt-sec-desc">
				The wacky sight gags and psycho-drama slapstick is tinged with melancholy and regret as Joel realizes that his experiences are what make him who he is.
			</p>
		</div>
	</div>
</div>







{% endblock%}