{% extends "CloudFantasy/base.html" %}

{% block title %}
Home | CloudFantasy
{% endblock %}

{% block stylesheet%}
{% load staticfiles %}
	<link type="text/css" rel="stylesheet" href="{% static 'CloudFantasy/css/common.css' %}">
	<link type="text/css" rel="stylesheet" href="{% static 'CloudFantasy/css/home.css' %}">
{% endblock%}

{% block content%}
<div id="main-nav-wrapper">
    <div id="logo-container">
        <a class="nav-link-0" href="/" style="opacity: 0;">
            <img src="{% static 'CloudFantasy/images/logo.png' %}">
        </a>
    </div>
    <div class="nav-bar-1 row">
        <div class="col-xs-6 nav-col-1"><a class="nav-link-0 {{dk}}" href="/director" >director</a></div>
        <div class="col-xs-6 nav-col-1"><a class="nav-link-0 {{dk}}" href="/films" >films</a></div>
        <div class="col-xs-6 nav-col-1"><a class="nav-link-0 {{dk}}" href="/schedule" >schedule</a></div>
        <div class="col-xs-6 nav-col-1"><a class="nav-link-0 {{dk}}" href="/tickets" >tickets</a></div>
        <div class="col-xs-6 nav-col-1"><a class="nav-link-0 {{dk}}" href="/behindTheScene">Behind&nbsp;the&nbsp;scenes</a></div>
    </div>
</div>

<div class="image-full" style="background-image: url('{% static "CloudFantasy/images/main/main.jpg" %}');">
	<div class="main-logo">
		<!-- <img src="{% static 'CloudFantasy/images/main/main.png' %}"> -->
	</div>
	<div class="event">
		<!-- <img src="{% static 'CloudFantasy/images/main/event.png' %}"> -->
	</div>

</div>



{% endblock%}