{% extends "CloudFantasy/baseWithNav.html" %}


{% block title %}
Schedule | CloudFantasy
{% endblock %}

{% block stylesheet%}
{% load staticfiles %}
	<link type="text/css" rel="stylesheet" href="{% static 'CloudFantasy/css/schedule.css' %}">
{% endblock%}

{% block content%}
<div id="schedule-wrapper">
<div class="schedule-day">
	<div class="row main-wrapper">
		<div class="col-md-4">
			<p class="month">May</p>
			<p class="day">18</p>
			<div class="row time-table">
				<div class="col-md-4">
					<p class="date">Tuesday</p>
				</div>
				<div class="col-md-2"></div>
				<div class="col-md-6">
					<p class="time">4:30 pm-5:30 pm</p>
					<p class="time">6:00 pm-7:50 pm</p>
					<p class="time">8:00 pm-8:10 pm</p>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<p class="title-1">Eternal Sunshine of the</p>
			<p class="title-2">Spotless Mind <span class="year">(2004)</span></p>
			<p class="theme">Opening Gala (Food & Drinks Served)</p>
			<p class="theme">Screening of <span class="theme-italic">Eternal Sunshine of the Spotless Mind</span></p>
			<p class="theme">Radiohead: Knives Out</p>
			<div class="schedule-img">
				<img src="{% static 'CloudFantasy/images/schedule/schedule1.jpg' %}">
			</div>
		</div>
		<div class="col-md-2">
			<p class="scuedule-red-sm">
				A couple undergoes a medical procedure to have each other erased from memories.
			</p>
		</div>
	</div>
</div>
<div class="schedule-day">
	<div class="row main-wrapper">
		<div class="col-md-4">
			<p class="month">May</p>
			<p class="day">19</p>
			<div class="row time-table">
				<div class="col-md-4">
					<p class="date">Wednesday</p>
				</div>
				<div class="col-md-2"></div>
				<div class="col-md-6">
					<p class="time">6:00 pm-7:50 pm</p>
					<p class="time">8:00 pm-8:10 pm</p>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<p class="title-1">The Science of Sleep</p>
			<p class="title-2"><span class="year">(2006)</span></p>
			<p class="theme">Screening of <span class="theme-italic">The Science of Sleep</span></p>
			<p class="theme">Beck: Deadweight</p>
			<div class="schedule-img">
				<img src="{% static 'CloudFantasy/images/schedule/schedule2.jpg' %}">
			</div>
		</div>
		<div class="col-md-2">
			<p class="scuedule-red-sm">
				Two clerks accidentally erase the footage from all tapes in their video store and re-shoot the films with their camera.
			</p>
		</div>
	</div>
</div>
<div class="schedule-day">
	<div class="row main-wrapper">
		<div class="col-md-4">
			<p class="month">May</p>
			<p class="day">20</p>
			<div class="row time-table">
				<div class="col-md-4">
					<p class="date">Thursday</p>
				</div>
				<div class="col-md-2"></div>
				<div class="col-md-6">
					<p class="time">2:00 pm-5:00 pm</p>
					<p class="time">6:00 pm-7:50 pm</p>
					<p class="time">8:00 pm-8:10 pm</p>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<p class="title-1">Be Kind Rewind</p>
			<p class="title-2"><span class="year">(2008)</span></p>
			<p class="theme">Installation of Gondry's 20 Music Videos (Special Event)</p>
			<p class="theme">Screening of <span class="theme-italic"> Be Kind Rewind</span></p>
			<p class="theme">Daft Punk: Around the World</p>
			<div class="schedule-img">
				<img src="{% static 'CloudFantasy/images/schedule/schedule3.jpg' %}">
			</div>
		</div>
		<div class="col-md-2">
			<p class="scuedule-red-sm">
				Two clerks accidentally erase the footage from all tapes in their video store and re-shoot the films with their camera.
			</p>
		</div>
	</div>
</div>
<div class="schedule-day">
	<div class="row main-wrapper">
		<div class="col-md-4">
			<p class="month">May</p>
			<p class="day">21</p>
			<div class="row time-table">
				<div class="col-md-4">
					<p class="date">Friday</p>
				</div>
				<div class="col-md-2"></div>
				<div class="col-md-6">
					<p class="time">2:00 pm-5:00 pm</p>
					<p class="time">6:00 pm-7:50 pm</p>
					<p class="time">8:00 pm-8:10 pm</p>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<p class="title-1">Mood Indigo</p>
			<p class="title-2"><span class="year">(2014)</span></p>
			<p class="theme">Mini "Home Movie Factory" Workshop (Special Event)</p>
			<p class="theme">Screening of<span class="theme-italic"> Mood Indigo</span></p>
			<p class="theme">Björk: Army of Me</p>
			<div class="schedule-img">
				<img src="{% static 'CloudFantasy/images/schedule/schedule4.jpg' %}">
			</div>
		</div>
		<div class="col-md-2">
			<p class="scuedule-red-sm">
				Wealthy, inventive Colin endeavors to find a cure for his lover Chloé after she’s diagnosed with an unusual lung illness.
			</p>
		</div>
	</div>
</div>
<div class="schedule-day">
	<div class="row main-wrapper">
		<div class="col-md-4">
			<p class="month">May</p>
			<p class="day">22</p>
			<div class="row time-table">
				<div class="col-md-4">
					<p class="date">Saturday</p>
				</div>
				<div class="col-md-2"></div>
				<div class="col-md-6">
					<p class="time">2:00 pm-5:00 pm</p>
					<p class="time">6:00 pm-7:50 pm</p>
					<p class="time">8:00 pm-8:10 pm</p>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<p class="title-1">Microbe & Gasoline</p>
			<p class="title-2"><span class="year">(2015)</span></p>
			<p class="theme">Exhibition for Gondry’s Drawings and Props</p>
			<p class="theme">Screening of<span class="theme-italic"> Microbe & Gasoline</span></p>
			<p class="theme">Cibo Matto: Sugar Water</p>
			<div class="schedule-img">
				<img src="{% static 'CloudFantasy/images/schedule/schedule5.jpg' %}">
			</div>
		</div>
		<div class="col-md-2">
			<p class="scuedule-red-sm">
				Two young friends embark on a road trip across France in a vehicle they built themselves.
			</p>
		</div>
	</div>
</div>
</div>
{% endblock%}
